<!DOCTYPE html>
<html>
{% load static %}
{% include 'sidebar_snippet.html' %} 
<body background="yellow" >

  <div class="overlay"></div>
  <video width = 100% height = auto playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
    <source src="{% static 'about/covidwarning2.mp4' %}" type="video/mp4">
  </video>
	<section  class="my-5">
	  <div  class="container">
	    <div class="row">
	    <h1> <strong> About us </strong> </h1>
	      <div  bgcolor = "yellow" class="col-md-8 mx-auto">
	        <p>This website is to be used in order to track the progress of Covid either globally or by country</p>
	        <p>This project is still <code>under development.</code> More <code> features </code> will be added in the next update</p>

	        <p>Be sure to follow with your local and country safety guidelines</p>
			<p>Stay Safe!!</p>
	        <footer>
	        	<p>All the resources and documentation for this project can be found here</p>
	        </footer>
	      </div>
	    </div>
	  </div>
	</section>
</body>

</html>